<div class="row">
    <div class="container">
        <button type="button" class="bttn-simple bttn-md bttn-default bttn-block bttn-no-outline" data-toggle="modal" data-target="#NewPost">New Post</button>
    </div>
</div>