<div class="wrapper">
    <!-- Sidebar -->
    <nav id="followings-sidebar">
        <div class="sidebar-header">
            <h3>Followings:
            </h3>

        </div>

        <ul class="list-unstyled components">
            <% currentUser.Followings.forEach((following) => { %>
                <a href="/user/<%= following.id%>/profile">
                    <div class="row gradient-border card-hover" style="margin: 2px 0; padding: 7px;">
                        <div class="col-3" style="top:5px">
                            <div class="profile-photo img-scale" style="background-image: url('<%= following.profileUrl %>'); width: 35px; height: 35px;"></div>
                        </div>
                        <div class="col-9">
                            <h3>
                                <%= following.firstName %>
                            </h3>
                        </div>
                    </div>
                </a>
                <% }) %>
        </ul>
    </nav>

</div>