<nav class="navbar fixed-top navbar-expand-sm card-trans bottom-border">

    <a class="navbar-brand font-logo" href="/Showcases/">
        <span> <img src="/assets/logos/logo.svg" alt="" style="width:40px">
        ShowCases</span>
    </a>

    <ul class="navbar-nav ml-3">
        <li class="nav-item">
            <%- include ('./User/user-post') %>
        </li>
    </ul>
    <div class="nav-bar ml-auto" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="bttn-bordered bttn-md bttn-primary bttn-no-outline">Log Out</button>
                </form>
            </li>
        </ul>
    </div>


</nav>