<% let startOfArray = true; %>
    <nav class="fixed-bottom">
        <div class="container">
            <div class="row">
                <button>Trending now!</button>
            </div>
        </div>

        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col">
                    <div id="trending-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <% for (let i = 0; i < carouselSlides.length; i++) { %>
                                <li data-target="#trending-carousel" data-slide-to="<%= i %>" class="<%= startOfArray ? " active " : " " %>"></li>
                                <% startOfArray = false %>
                                    <% } %>
                                        <% startOfArray = true %>
                        </ul>



                        <!-- The slideshow -->
                        <div class="carousel-inner no-padding">
                            <% let index = 0 %>
                                <% for (const slide of carouselSlides) { %>
                                    <div class="carousel-item<%= startOfArray ? " active " : " " %>">
                                        <div class="row align-items-center">
                                            <% for (const post of slide) { %>
                                                <%- include ('./carousel-items/carousel-item', {index: index}) %>
                                                    <% index++ %>
                                                        <% } %>
                                        </div>
                                    </div>
                                    <% startOfArray = false %>
                                        <% } %>
                                            <% startOfArray = true %>
                                                <!-- Left and right controls -->
                                                <a class="carousel-control-prev" href="#trending-carousel" data-slide="prev">
                                                    <span class="carousel-control-prev-icon"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#trending-carousel" data-slide="next">
                                                    <span class="carousel-control-next-icon"></span>
                                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <% console.log(carouselSlides[0].length) %>