<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

    <body>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="media">
                        <img class="mr-3" src="https://www.ibts.org/wp-content/uploads/2017/08/iStock-476085198.jpg" alt="Generic placeholder image" style="width:150px">
                        <div class="media-body">
                            <h5 class="mt-0">Media heading</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            <%- include ('partials/sketchfab') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>