/* SECTION Carousel */


/* Default Carousel Settings*/

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

.col-md-3 img {
    width: 100%;
    height: auto;
}

body .carousel-indicators li {
    background-color: rgb(0, 81, 255);
}

body .carousel-indicators {
    bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    background-color: rgb(0, 195, 255);
}

body .no-padding {
    padding-left: 0;
    padding-right: 0;
}


/* Features */


/* trending images thumbnail sizes */

.md-thumbnail {
    width: 200px;
    height: 150px;
}


/* Main */

.img-scale {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.profile-photo {
    width: 85px;
    height: 85px;
}

.post-thumbnail {
    width: 500px;
    height: 250px;
}

body {
    background-color: #05041A;
    color: white;
}